body{
    margin: 0;
    height: 100dvh;
    background-color: #f2f0ef;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: white;
}

.tratamentoLink {
    text-decoration: none;
    color:inherit;
}

#LogoEmpresa {
    margin-left: 3%;
    height: 220%;
     
}

.styleHeader{
    gap: 10%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-right: 3%;
   
    width: 25%;
}